<?xml version="1.0" encoding="UTF-8"?>
<blueprint
    xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'
    xmlns='http://www.osgi.org/xmlns/blueprint/v1.0.0'
    xmlns:cm='http://aries.apache.org/blueprint/xmlns/blueprint-cm/v1.1.0'
    xsi:schemaLocation='http://www.osgi.org/xmlns/blueprint/v1.0.0 http://www.osgi.org/xmlns/blueprint/v1.0.0/blueprint.xsd
   http://aries.apache.org/blueprint/xmlns/blueprint-cm/v1.1.0 http://aries.apache.org/schemas/blueprint-cm/blueprint-cm-1.1.0.xsd'>

    <cm:property-placeholder persistent-id="${project.artifactId}" update-strategy="reload">
        <cm:default-properties>
            <cm:property name="pollingInterval" value="250" />
            <cm:property name="pollingTimeUnit">
                <value type="java.util.concurrent.TimeUnit">MILLISECONDS</value>
            </cm:property>
        </cm:default-properties>
    </cm:property-placeholder>

    <bean id="file-monitor-service-factory" class="com.github.sworisbreathing.sfmf4j.commonsio.CommonsIOFileMonitorServiceFactory">
        <property name="pollingInterval" value="${pollingInterval}" />
        <property name="pollingTimeUnit" value="${pollingTimeUnit}" />
    </bean>
    <service id="fileMonitorServiceFactory" ref="file-monitor-service-factory" interface="com.github.sworisbreathing.sfmf4j.api.FileMonitorServiceFactory" />
</blueprint>
