<?xml version="1.0" encoding="UTF-8"?>
<blueprint
    xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'
    xmlns='http://www.osgi.org/xmlns/blueprint/v1.0.0'
    xmlns:cm='http://aries.apache.org/blueprint/xmlns/blueprint-cm/v1.1.0'
    xsi:schemaLocation='http://www.osgi.org/xmlns/blueprint/v1.0.0 http://www.osgi.org/xmlns/blueprint/v1.0.0/blueprint.xsd
   http://aries.apache.org/blueprint/xmlns/blueprint-cm/v1.1.0 http://aries.apache.org/schemas/blueprint-cm/blueprint-cm-1.1.0.xsd'>
    
    <bean id="executorServiceFactory" class="sfmf4j.nio2.ExecutorServiceFactory" />
    <bean id="executorService" class="java.util.concurrent.ExecutorService" factory-ref="executorServiceFactory" factory-method="newSingleThreadExecutor" destroy-method="shutdown"/>

    <bean id="fileSystemFactory" class="sfmf4j.nio2.FileSystemFactory" />
    <bean id="watchService" class="java.nio.file.WatchService" factory-ref="fileSystemFactory" factory-method="newWatchService" destroy-method="close" />

    <bean id="file-monitor-service-factory" class="sfmf4j.nio2.WatchServiceFileMonitorServiceFactory">
        <property name="executorService" ref="executorService" />
        <property name="watchService" ref="watchService" />
    </bean>
    <service id="fileMonitorServiceFactory" ref="file-monitor-service-factory" interface="sfmf4j.api.FileMonitorServiceFactory" />
</blueprint>
